bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
temp-notes.txt
.idea
/shelf/
/workspace.xml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
.DS_Store
imgui.ini
.vscode
ImGuiSDL-CS.sln.DotSettings.user